body{
    height: 100%;
    margin: 0;
}
@media only screen and (max-width: 1400px) {
	
	div#cabecera {	
		height: 20%;
		background-color: white;
		border-bottom: black 2px solid;
	}

	div#cabecera a{
		color: white;	
	}

	div#cabecera img{
		padding-top:20px;
		padding-left:20px;
	}

	div#cabecera div#login div#boton {
		float:right;
		margin-top: -20px;
	}

	div#cabecera div#login{
		float: right;
		background-color: white;
		padding-top: -20px;
		padding-left: 10px;
		padding-right:10px;
		height: 90%;
		border: black 2px solid;
		color: black;
		margin-right:10px;
		margin-top:5px;
	}
	
	div#cabecera div#logout{
		float: right;
		background-color: white;
		padding-top: -20px;
		padding-left: 10px;
		padding-right:10px;
		height: 70%;
		border: black 2px solid;
		color: black;
		margin-right:10px;
		margin-top:15px;
	}
	
	div#cabecera div#logout div#boton {
		float:right;
	}
	

	div#menu{
		float: bottom;
		background-color: white;
		height: 7%;
		color: white;
		text-align:center;
	}

	div#menu span#apartado{
		text-align: center;
		width: 20%;
		height: 100%;
		float:left;
		border-right: black 2px solid;
		padding-top: 10px;
		border-bottom: black 2px solid;
		box-sizing: border-box;
	}

	div#menu span#ultimo{
		text-align: center;
		width: 20%;
		height: 100%;
		float:left;
		padding-top: 10px;
		border-bottom: black 2px solid;
	}

	div#izquierda {
		float: left;
		width: 20%;
		height: 65%;
		background-color: #dddddd;
	}

	div#derecha {
		float: right;
		width: 20%;
		height: 65%;
		background-color: #dddddd;
	}

	div#contenido {
		float: left;
		height: 65%;
		width: 60%;
		background-color: white;
		color: black;
		overflow: auto;
	}

	div#pie {
		clear: both;
		background-color: #E9E8E2;
		color: black;
		text-align: center;
		height: 8%;
	}
	
	div#registro{
		border: black 2px solid;
		padding-left:20px;
		width: 48%;
		margin-left: 25%;
		margin-top: 2%;
	}
	
	div#registro h1{
		font-size: 200%;
		text-align:center;
	}
	
}

@media only screen and (min-width : 1400px){
	div#cabecera {	
		height: 16.5%;
		background-color: white;
		color: white;
		border-bottom: black 2px solid;
	}

	div#cabecera a{
		color: white;	
	}

	div#cabecera img{
		padding-top:25px;
		padding-left:20px;
	}

	div#cabecera div#boton {
		float:right;
		margin-top: -20px;
	}

	div#cabecera div#login{
		float: right;
		background-color: white;
		padding-left: 10px;
		padding-right:10px;
		height: 80%;
		border: black 2px solid;
		color: black;
		margin-right:10px;
		margin-top:0.6%;
	}	

	div#menu{
		float: bottom;
		background-color: white;
		height: 3.5%;
		color: white;
		text-align:center;
	}

	div#menu span#apartado{
		text-align: center;
		width: 19.8%;
		height: 100%;
		float:left;
		border-right: black 2px solid;
		padding-top: 10px;
		border-bottom: black 2px solid;
	}

	div#menu span#ultimo{
		text-align: center;
		width: 20.38%;
		height: 100%;
		float:left;
		padding-top: 10px;
		border-bottom: black 2px solid;
	}

	div#izquierda {
		float: left;
		width: 20%;
		height: 70%;
		background-color: #dddddd;
	}

	div#derecha {
		float: right;
		width: 20%;
		height: 70%;
		background-color: #dddddd;
	}

	div#contenido {
		float: left;
		min-height: 65%;
		height: 65%;
		width: 60%;
		background-color: white;
		color: black;
		overflow:auto;		
	}

	div#pie {
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
		height: 8.6%;
	}
	
	div#registro{
		border: black 2px solid;
		padding-left:20px;
		width: 48%;
		margin-left: 25%;
		margin-top: 2%;
	}
	
	div#registro h1{
		font-size: 200%;
		text-align:center;
	}	
}

* {
	box-sizing: border-box;
}

div#cabecera a, div#cabecera a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div#menu a, div#menu a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div#contenido div#experiencia{
	border-bottom: black 2px solid;
	display:flex;
	flex-direction: row;
}

div#contenido div#experiencia div#info{
	width:80%;
	margin-left: 3%;
}

div#contenido div#experiencia div#boton{
	padding-top:40px;
}

div#contenido div#ultimaexperiencia{
	display:flex;
	flex-direction: row;
}

div#contenido div#ultimaexperiencia div#info{
	width:80%;
	margin-left: 3%;
}

div#contenido div#ultimaexperiencia div#boton{
	padding-top:40px;
}

div#contenido div#ExperienciaConcreta{
	text-align: center;
	margin:20px;
}

div#contenido div#viaje{
	border-bottom: black 2px solid;
	display:flex;
	flex-direction: row;
}

div#contenido div#viaje div#info{
	width:80%;
	margin-left: 3%;
}

div#contenido div#viaje div#boton{
	padding-top:60px;
}

div#contenido div#ultimoviaje{
	display:flex;
	flex-direction: row;
}

div#contenido div#ultimoviaje div#info{
	width:80%;
	margin-left: 3%;
}

div#contenido div#ultimoviaje div#boton{
	padding-top:60px;
}

div#contenido div#ViajeConcreto{
	text-align: center;
	margin:20px;
} 
