body{
    height: 100%;
    margin: 0;
}
@media only screen and (max-height: 900px) {
	
	div#cabecera {	
		height: 20%;
		background-color: white;
		border-bottom: black 2px solid;
	}

	div#cabecera img{
		padding-top:20px;
		padding-left:20px;
	}

	div#cabecera div#login div#boton {
		float:right;
		margin-top: -20px;
	}

	div#cabecera div#login{
		float: right;
		background-color: white;
		padding-top: -20px;
		padding-left: 10px;
		padding-right:10px;
		height: 90%;
		border: black 2px solid;
		color: black;
		margin-right:10px;
		margin-top:5px;
	}
	
	div#cabecera div#logout{
		float: right;
		background-color: white;
		padding-top: -20px;
		padding-left: 10px;
		padding-right:10px;
		height: 70%;
		border: black 2px solid;
		color: black;
		margin-right:10px;
		margin-top:15px;
	}
	
	div#cabecera div#logout div#boton {
		float:right;
	}
	
	div#menu{
		float: bottom;
		background-color: #18F393;
		height: 7%;
		text-align:center;
	}
	
	div#menubasico{
		float: bottom;
		background-color: #F9610A;
		height: 7%;
		text-align:center;
		flex-direction:row;
	}
	
	div#menuempresa{
		float: bottom;
		background-color: #F129FA;
		height: 7%;
		text-align:center;
		flex-direction:row;
	}

	div#izquierda {
		float: left;
		width: 20%;
		height: 65%;
		flex-direction:colum;
		text-align:center;
		overflow: auto;
		background-color:#0EA5DA;
		color:black;
	}

	div#derecha {
		float: right;
		width: 20%;
		height: 65%;
		background-color:#0EA5DA;
		color:black;
		padding-left:2%;
		font-size:19px;
		overflow: auto;
	}

	div#contenido {
		float: left;
		height: 65%;
		width: 60%;
		color: black;
		overflow: auto;
		background-color:#EEEEEF;
		
	}

	div#pie {
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
		height: 8%;
	}
}

@media only screen and (min-height : 900px){
	
	div#cabecera {	
		height: 16.5%;
		background-color: white;
		border-bottom: black 2px solid;
	}

	div#cabecera img{
		padding-top:25px;
		padding-left:20px;
	}

	div#cabecera div#login div#boton {
		float:right;
		margin-top: -20px;
	}

	div#cabecera div#login{
		float: right;
		background-color: white;
		padding-top: -20px;
		padding-left: 10px;
		padding-right:10px;
		height: 80%;
		border: black 2px solid;
		color: black;
		margin-right:10px;
		margin-top:0.6%;
	}
	
	div#cabecera div#logout{
		float: right;
		background-color: white;
		padding-top: -20px;
		padding-left: 10px;
		padding-right:10px;
		height: 70%;
		border: black 2px solid;
		color: black;
		margin-right:10px;
		margin-top:0.9%;
	}
	
	div#cabecera div#logout div#boton {
		float:right;
	}

	div#menu{
		float: bottom;
		background-color: #18F393;
		height: 3.5%;
		text-align:center;
	}
	
	div#menubasico{
		float: bottom;
		background-color: #F9610A;
		height: 5%;
	}
	
	div#menuempresa{
		float: bottom;
		background-color: #F129FA;
		height: 5%;
		text-align:center;
	}

	div#izquierda {
		float: left;
		width: 20%;
		height: 70%;
		flex-direction:colum;
		text-align:center;
		overflow: auto;
		background-color:#0EA5DA;
		color:black;
	}

	div#derecha {
		float: right;
		width: 20%;
		height: 70%;
		background-color:#0EA5DA;
		color:black;
		padding-left:2%;
		font-size:19px;
	}

	div#contenido {
		float: left;
		height: 70%;
		width: 60%;
		color: black;
		overflow:auto;
		background-color:#EEEEEF;;
	}

	div#pie {
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
		height: 10%;
	}	
}

* {
	box-sizing: border-box;
}

div#cabecera a, div#cabecera a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
	text-decoration:underline;
}

div#menu a, div#menu a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

span.apartado{
	text-align: center;
	width: 20%;
	height: 100%;
	float:left;
	border-right: black 2px solid;
	padding-top: 10px;
	border-bottom: black 2px solid;
}

span.ultimo{
	text-align: center;
	width: 20%;
	height: 100%;
	float:left;
	padding-top: 10px;
	border-bottom: black 2px solid;
}

div#menubasico a, div#menubasico a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div#menuempresa a, div#menuempresa a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div#menuempresa span.apartado{
	text-align: center;
	width: 25%;
	height: 100%;
	float:left;
	border-right: black 2px solid;
	padding-top: 10px;
	border-bottom: black 2px solid;
	box-sizing: border-box;
}

div#menuempresa span.ultimo{
	text-align: center;
	width: 25%;
	height: 100%;
	float:left;
	padding-top: 10px;
	border-bottom: black 2px solid;
}

div#izquierda div#ranking {
	display:flex;
	flex-direction: row;
	font-size:25px;
}

div#izquierda{
	display:flex;
	flex-direction:column;
}

div#izquierda div#ranking div#nick{
	width:50%;
	margin-left: 3%;
}

div#contenido div#ViajeConcreto{
	text-align: center;
	margin:20px;
}

div#contenido div#ActividadConcreta{
	text-align: center;
	margin:20px;
}

div#contenido div#ComboConcreto{
	text-align: center;
	margin:20px;
}

div#contenido div#lista{
	border-bottom: black 2px solid;
	display:flex;
	flex-direction: row;
}

div#contenido div#lista div#info{
	width:80%;
	margin-left: 3%;
}

div#contenido div#lista div#boton{
	padding-top:60px;
}

div#contenido div#ultimolista{
	display:flex;
	flex-direction: row;
}

div#contenido div#ultimolista div#info{
	width:80%;
	margin-left: 3%;
}

div#contenido div#ultimolista div#boton{
	padding-top:60px;
}

div#contenido div#nombre {
	margin-left: 3%;
	font-size: 30px;
}

div#contenido div#escribirActividad {
	margin-left:4%;
}

div#contenido div#escribirViaje {
	margin-left:4%;
}

div#registro{
	border: black 2px solid;
	padding-left:20px;
	width: 48%;
	margin-left: 25%;
	margin-top: 2%;
}

div#registro h1{
	font-size: 200%;
	text-align:center;
}

div#escribirExperiencia{
	padding-left:5%;
}
	
div#infoExperiencia{
	border-bottom:black 2px solid;
}

div#comentario{
	width:100%;
	border-bottom:black 2px solid;
}

div#contenido div#ExperienciaConcreta{
	text-align: center;
	margin-top:20px;
}

div#contenido div#ExperienciaConcreta div#nuevoComentario h3{
	margin-left:-35%;
}

div#contenido div#ExperienciaConcreta div#nuevoComentario input#crearComentario{
	margin-right:-48%;
}

div#contenido div#ExperienciaConcreta div#nuevoComentario input#textoComentario{
	height: 13%;
	width: 55%;
}

div#contenido div#ExperienciaConcreta div#boton{
	float:right;
	margin-top:-6%;
	margin-right:2%;
}